<!doctype html>
<html lang="en" data-framework="react">
	<head>
		<meta charset="utf-8">
		<title>React • TodoMVC</title>
		<link rel="stylesheet" href="/public/reactjs/base.css">
		<link rel="stylesheet" href="/public/reactjs/index.css">
	</head>
	<body>
		<section class="todoapp" id="todoapp"></section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<p>Created by <a href="http://github.com/petehunt/">petehunt</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>

		<script src="/public/reactjs/base.js"></script>
		<script src="/public/reactjs/bundle.min.js"></script>
	</body>
</html>